.card {
  box-shadow: none;
  border: 2px solid rgb(34, 32, 32);
}
.card-info {
  display: flex;
  justify-content: space-between;
  background: none;
  color: var(--white);
}
.ellipsis-btn {
  background: none;
  border: none;
  color: var(--white);
  position: relative;
}
.card-subtitle {
  color: var(--white);
}
.card-img {
  height: 10rem;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 564px) {
  .card {
    width: 100%;
  }
  .navbar-logo{
      padding: 0;
      margin: 0 auto;
      font-size: 1.5rem;
  }
}
