.card {
  box-shadow: none;
  border: 2px solid rgb(34, 32, 32);
}
.card-info {
  display: flex;
  justify-content: space-between;
  background: none;
  color: var(--white);
}
.ellipsis-btn {
  background: none;
  border: none;
  color: var(--white);
}
.card-subtitle {
  color: var(--white);
}
.card-img {
  height: 10rem;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
