.btn-contaiers .login-btn {
  width: 100%;
  height: 40px;
  background: var(--white-color);
  border: none;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}
.check-account {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--white-color);
}
.check-account i {
  margin-left: 0.5rem;
}
