* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #141319;
  --nav-color: #191921;
  --sidebar-bg-color: #191921;
  --white-color: #ffffff;
}
.page {
  margin-left: 16rem;
  padding: 1rem;
}
.white-text {
  color: var(--white-color);
}
